/* nav font style */
body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
/* nav style section */
nav {
   display:flex;
   justify-content: space-between;
   align-items: center;
}
.tittle{
    color:black;
    font-size:45px;
    font-weight:800px;
}
.text-primary{
    color:rgb(243, 112, 65);

}
nav > ul{
    display:flex;
    align-items: center;

}
nav li{
    list-style: none;
    margin-right:50px;
}
nav a{
    text-decoration: none;
    color:#474747;
}
.btn-primary{
    border-radius:5px;
    background-color:rgb(243, 112, 65);
    border:0px;
    color:white;
    font-size:20px;
    font-weight:700px;
    padding:15px 35px;

}